.mobile-menu {
  display: none; /* Скрываем на всех экранах */
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block; /* Показываем на экранах до 768px */
  }
}
.desktop-menu {
  display: block;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

.desktop-page {
  /* Desktop - 78 */

  position: relative;
  width: 1920px;
  height: 2559px;

  /* Bck */
  background: linear-gradient(180deg, #24252f 0%, #31313f 36.46%, #242530 100%);
}
.mobile-page {
  /* Mobile / Individual_program */

  position: relative;
  width: 768px;
  height: 812px;

  background: #24252f;
}

.navbar-desktop {
  /* Group 635 */

  position: absolute;
  width: 1240px;
  height: 36.51px;
  left: 340px;
  top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav-desktop-item {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.desktop-cyberia {
  /* _2834812530736 */

  position: absolute;
  left: 0%;
  right: 89.44%;
  top: 10.96%;
  bottom: 13.48%;
}
.nav-desktop-item.agency {
  width: 75px;
}
.nav-desktop-item.services {
  width: 50px;
}
.nav-desktop-item.cases {
  width: 48px;
}
.nav-desktop-item.blog {
  width: 36px;
}
.nav-desktop-item.contacts {
  width: 68px;
}

.navbar-mobile {
  /* Component 46 */

  position: absolute;
  width: 375px;
  height: 68px;
  left: 0px;
  top: 32px;
}
.mobile-cyberia {
  /* _2834812530736 */

  position: absolute;
  left: 7.2%;
  right: 68%;
  top: 35.29%;
  bottom: 35.91%;
}
.mobile-menu-burger {
  /* icon / (32x32) / Menu-burger */

  position: absolute;
  width: 32px;
  height: 32px;
  right: 21px;
  top: 35.29%;
}
.nav-mobile-burger {
  /* Rectangle 758 */

  position: absolute;
  width: 303px;
  height: 276px;
  left: 24px;
  top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.nav-mobile-item {
  /* Агенство */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  /* EEF3FF */
  color: #eef3ff;
}
.nav-mobile-item.agency {
  width: 75px;
}
.nav-mobile-item.services {
  width: 59px;
}
.nav-mobile-item.cases {
  width: 56px;
}
.nav-mobile-item.blog {
  width: 40px;
}
.nav-mobile-item.contacts {
  width: 84px;
}
